body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0px;
  background-color: #00101A;
/*    background: no-repeat center url("aurora.jpg");*/
	background: url("background.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: top center;
 }
 p {
   
  font-size: 16px;
 }
.wrapper {
    display: block;
    min-height: 120px;
    margin-bottom: 10px;
    text-align: justify;
}

hr {
  visibility: hidden;
  clear: both;
  margin-bottom: 20px;
}

.centerblock {
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
}

.rightblock {
  font-size: 16px;
  float: right;
  width: 49%;
  min-height: 200px;
}

.leftblock {
  font-size: 16px;
  float: left;
  width: 49%;
  min-height: 200px;
}


.imgblock {
  float: left;
  width: 140px;
  min-height: 200px;
}

.textblock {
  font-size: 16px;
  
  overflow: hidden;
  min-height: 200px;
}

.text {
  margin-right: 180px;
  padding-left: 30px;
}

.leftimage{
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 12px;
}


.rightimage{
    margin-left: 15px;
    width: 140px;
    height: 140px;
    float: right;
    margin-left: 12px;
}

.centerimage{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
} 


.recapimage {
    margin-left: 15px;
    max-width: 300px;
    float: right;
    margin: 15px;
    margin-left: 20px;
} 

h1 {
  font-size: 36px;
  font-family: 'Mason', 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
  margin: 0px;
}
h2 {
  font-family: 'Mason', 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
  margin: 0px;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
}

h3 {
  font-family: 'Mason', 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
  margin: 0px;
  margin-top: 30px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

.name {
  font-size: 22px;
  font-family: 'Mason', 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
  margin-bottom: 8px;
}

.header {
    height: 100px;
/*    background: no-repeat center url("aurora.jpg");*/
}

.header-char {
    height: 450px;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
}


.content-medium {
  padding: 30px;
  background-color: #F7EDDE;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1200px;
  padding-bottom: 200px;
}

.content-narrow {
  padding: 30px;
  background-color: #F7EDDE;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-bottom: 200px;
}

.content {
  padding: 30px;
  background-color: #F7EDDE;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-bottom: 200px;
}

.characters {
    margin-top: 25px;
}

h1 {
    
    text-align: center;
}

@font-face {
    font-family: "Mason";
    src: url("../Creed.ttf");
}

.book {
  font-family: "Mason";
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 15px;
  
}

a {
  color: darkred;
}

a:visited {
  color: darkred;
}
tr>td {
  padding-bottom: 1em;
}
tr:first-child {
  font-size: 20px;
  font-family: "Mason";
  src: url("../Creed.ttf");
  
}
td:first-child {
  text-align: left;
  padding-right: 50px;
  font-size: 20px;
  font-family: "Mason";
  padding-left: 0px;
  padding-right: 20px;
  src: url("../Creed.ttf");
  
}
td {
  padding-top: 10px;
  max-width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.shift {
  padding-left: 120px;
}

.notyet {
 display: none;
  text-decoration: none;
  color: grey;
 cursor: default;
}

.notyet:visited{
  display: none;
  text-decoration: none;
  color: grey;
 cursor: default;

  
}